/linux/runtime
/linux/output
/linux/traveling-ruby-gems*
/alpine/runtime
/alpine/output
/alpine/traveling-ruby-gems*
/osx/traveling-ruby-gems*
/windows/traveling-ruby-gems*
/osx/runtime*
/osx/output
/osx/work
/windows/cache
/windows/output
*.sublime-workspace
*.tar.gz
.DS_Store
ok
output.txt
*.tmp